<ion-view view-title="Photo">
    <ion-content>
        <ion-list>

            <div class="list card photoChoice">

                <div class="item item-divider title">
                    <h2>Type of Photo</h2>
                </div>

                <div class="item item-image choice">
                    <div class="row">
                        <div class="col">
                            <button class="button button-icon" ng-click="tekePhoto()"></button>
                            <i class="ion-android-camera"><br></i>Take Photo
                        </div>
                        <div class="col">
                            <button class="button button-icon" ng-click="choosePhoto()"></button>
                            <i class="ion-images"><br></i>Photo Library
                        </div>
                    </div>
                </div>



            </div>
        </ion-list>
    </ion-content>
</ion-view>
